@font-face {
  font-family: 'Aeonik';
  src: local('Aeonik'),
  url('../fonts/Aeonik/AeonikRegular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'AeonikMedium';
  src: local('AeonikMedium'),
  url('../fonts/Aeonik/Aeonik-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'EditorialNew';
  src: local('EditorialNew'),
  url('../fonts/EditorialNew/EditorialNew-Variable.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
